<div class="instructions">
    <p>Different suppliers list each titles binding in a different format. This step is used to match each binding found in the file with a standard format.</p>
</div>

<form action="/stage/form_map" class="f-wrap-1" method="post" style="width: 90%; margin-left: auto; margin-right: auto; ">

  <div class="req"><b>*</b> Indicates required field</div>
  
  <fieldset>
  
    <h3>Format Matching</h3>
    <p>Please match the formats used in this CSV file to ONIX formats</p>

    <% @forms.each do |form|%>
      <label for="form[<%=form%>]"><strong><span class="req">*</span><%=form%>:</strong>
      <select name="form[<%=form%>]" id="form[<%=form%>]"><%=options_for_select(@onixforms, '00')%></select><br />
      </label>
    <% end %>
  </fieldset>

  <fieldset>
  
    <div class="f-submit-wrap">
      <input type="submit" value="Next >>" class="f-submit" /><br />
    </div>
  
  </fieldset>

</form>
