<div class="instructions">
    <p>There is no agreed upon standard for storing bibliographic data in CSV files. To continue, I need to know what each column of data in the file contains. Please fill in the form below with as much information as possible.</p>
    <p>All fields marked as required must be completed to continue.</p>
</div>

<form action="/stage/settings" class="f-wrap-1" method="post" style="width: 90%; margin-left: auto; margin-right: auto; ">

<div class="req"><b>*</b> Indicates required field</div>

<fieldset>

<h3>Header</h3>

<p>The following fields are freeform text and are used at the to describe the content of the ONIX file.</p>

<label for="from_company"><strong><span class="req">*</span>From Company:</strong>
<input type="text" name="from_company" id="from_comapny" value="<%=params['from_company'] %>" /><br />
</label>

<label for="from_person"><strong><span class="req">*</span>From Person:</strong>
<input type="text" name="from_person" id="from_person" value="<%=params['from_person']%>" /><br />
</label>

<label for="message_note"><strong>Message Note:</strong>
<input type="text" name="message_note" id="message_note" value="<%=params['message_note']%>"/><br />
</label>

<label for="publisher_name"><strong><span class="req">*</span>Publisher Name:</strong>
<input type="text" name="publisher_name" id="publisher_name" value="<%=params['publisher_name']%>"/><br />
</label>

<label for="supplier_name"><strong><span class="req">*</span>Supplier Name:</strong>
<input type="text" name="supplier_name" id="supplier_name" value="<%=params['supplier_name']%>"/><br />
</label>


</fieldset>

<fieldset>

<h3>Columns</h3>

<p>The following fields are used to indicate what type of data each column contains.</p>

<label for="isbncol"><strong><span class="req">*</span>ISBN Col:</strong>
<select name="isbncol" id="isbncol"><%=options_for_select(@cols_array, params['isbncol'].to_i)%></select><br />
</label>

<label for="titlecol"><strong><span class="req">*</span>Title Col:</strong>
<select name="titlecol" id="titlecol"><%=options_for_select(@cols_array, params['titlecol'].to_i)%></select><br />
</label>

<label for="subtitlecol"><strong>Subtitle Col:</strong>
<select name="subtitlecol" id="subtitlecol"><%=options_for_select(@cols_array, params['subtitlecol'].to_i)%></select><br />
</label>

<label for="authorcol"><strong><span class="req">*</span>Author Col:</strong>
<select name="authorcol" id="authorcol"><%=options_for_select(@cols_array, params['authorcol'].to_i)%></select><br />
</label>

<label for="formcol"><strong>Format Col:</strong>
<select name="formcol" id="formcol"><%=options_for_select(@cols_array, params['formcol'].to_i)%></select><br />
</label>

<label for="pricecol"><strong>Price Col:</strong>
<select name="pricecol" id="pricecol"><%=options_for_select(@cols_array, params['pricecol'].to_i)%></select><br />
</label>

<label for="pubdatecol"><strong>Pubdate Col:</strong>
<select name="pubdatecol" id="pubdatecol"><%=options_for_select(@cols_array, params['pubdatecol'].to_i)%></select><br />
</label>

<label for="websitecol"><strong>Website Col:</strong>
<select name="websitecol" id="websitecol"><%=options_for_select(@cols_array, params['websitecol'].to_i)%></select><br />
</label>

<label for="descriptioncol"><strong>Description Col:</strong>
<select name="descriptioncol" id="descriptioncol"><%=options_for_select(@cols_array, params['descriptioncol'].to_i)%></select><br />
</label>

</fieldset>

<fieldset>

<h3>Options</h3>

<p>The following options can be used to configure how the data will be stored in the ONIX file.</p>
<ul>
    <li><strong>Multiply Price: </strong> Multiple all prices by this amount</li>
    <li><strong>Round to nearest 95c: </strong>Rounds all prices to the nearest 95x value. (eg: $19.96 to $20.44 will be rounded down to $19.95, $20.45 to $20.94 will be rounded up to $20.95</li>
    <li><strong>Ignore First Line: </strong>Some CSV files containing headings on the first line. Select this option to prevent the first line being interpreted as a book.</li>
</ul>

<label for="multiply_price"><strong>Multiply Price by X:</strong>
<input type="text" name="multiply_price" id="multiply_price" value="<%=params['multiply_price']%>" /><br />
</label>

<label for="round_price"><strong>Round to nearest 95c:</strong><br />
  <%= check_box_tag "round_price", "yes", params['round_price'], :id => 'round_price' %>
</label>

<label for="ignore_first_line"><strong>Ignore first line:</strong><br />
  <%= check_box_tag "ignore_first_line", "yes", params['ignore_first_line'], :id => 'ignore_first_line' %>
</label>

</fieldset>

<fieldset>

<div class="f-submit-wrap">
  <input type="submit" value="Next >>" class="f-submit" /><br />
</div>

</fieldset>

</form>


<%=array_as_table(@data)%>
