<div class="instructions">
  <p>Different suppliers list each titles binding in a different format. This step is used to match each binding found in the file with a standard format.</p>
</div>

<% semantic_form_for :csv_file, @csv_file, :url => csv_file_path(@csv_file), :html => {:method => :put} do |form| %>
  <input type="hidden" name="source" value="formmap">

  <% form.inputs :name => "Formats" do %>
    <% @csv_file.forms.each do |format|%>
      <li>
        <label><%=format%></label>
        <select id="csv_file_<%=format%>" name="csv_file[formmap][<%=format%>]" >
          <%=options_for_select(@onixforms, '00')%>
        </select>
      </li>
    <% end%>

    <%= form.buttons :commit %>
  <% end%>
<% end%>
