<div class="instructions">
    <p>There is no agreed upon standard for storing bibliographic data in CSV files. To continue, I need to know what each column of data in the file contains. Please fill in the form below with as much information as possible.</p>
    <p>All fields marked as required must be completed to continue.</p>
</div>

<%= semantic_form_for @csv_file, :as => :csv_file, :url => csv_file_path(@csv_file), :html => {:method => :put} do |form| %>
  <input type="hidden" name="source" value="edit">

  <%= form.inputs :name => "Header" do %>
    <p>The following fields are freeform text and are used at the to describe the content of the ONIX file.</p>
    <%= form.input :from_company %>
    <%= form.input :from_person %>
    <%= form.input :message_note, :required => false %>
    <%= form.input :publisher_name %>
    <%= form.input :supplier_name %>
    <%= form.input :currency_code, :label => "Currency:", :as => :select, :collection => @currencies, :include_blank => false %>
    <%= form.input :measurement_system, :label => "Measurements:", :as => :select, :collection => ["Metric","Imperial"], :include_blank => false %>
  <% end%>

  <%= form.inputs :name => "Columns" do %>
    <p>The following fields are used to indicate what type of data each column contains.</p>
    <%= form.input :isbncol, :as => :select, :collection => @column_options, :label => "ISBN:" %>
    <%= form.input :titlecol, :as => :select, :collection => @column_options, :label => "Title:" %>
    <%= form.input :subtitlecol, :required => false , :as => :select, :collection => @column_options, :label => "Subtitle:"%>
    <%= form.input :author1col, :required => false, :as => :select, :collection => @column_options, :label => "Author 1:"%>
    <%= form.input :author2col, :required => false, :as => :select, :collection => @column_options, :label => "Author 2:"%>
    <%= form.input :author3col, :required => false, :as => :select, :collection => @column_options, :label => "Author 3:"%>
    <%= form.input :formcol, :required => false, :as => :select, :collection => @column_options, :label => "Format:" %>
    <%= form.input :pricecol, :required => false, :as => :select, :collection => @column_options, :label => "Price:" %>
    <%= form.input :pagescol, :required => false, :as => :select, :collection => @column_options, :label => "Pages:" %>
    <%= form.input :seriescol, :required => false, :as => :select, :collection => @column_options, :label => "Series:" %>
    <%= form.input :pubdatecol, :required => false, :as => :select, :collection => @column_options, :label => "Pubdate:"%>
    <%= form.input :dimensionscol, :required => false, :as => :select, :collection => @column_options, :label => "Dimensions:"%>
    <%= form.input :websitecol, :required => false, :as => :select, :collection => @column_options, :label => "Website:" %>
    <%= form.input :descriptioncol, :required => false, :as => :select, :collection => @column_options, :label => "Description:" %>
    <%= form.input :weightcol, :required => false, :as => :select, :collection => @column_options, :label => "Weight:" %>
    <%= form.input :cartonqtycol, :required => false, :as => :select, :collection => @column_options, :label => "Carton Qty:" %>
  <% end%>

  <%= form.inputs :name => "Options" do %>
    <p>The following options can be used to configure how the data will be stored in the ONIX file.</p>
    <%= form.input :ignore_first_line, :as => :boolean, :required => false, :hint => "Some CSV files containing headings on the first line. Select this option to prevent the first line being interpreted as a book." %>
  <% end%>

  <%= form.buttons :commit %>
<% end %>

<%=array_as_table(@csv_file.first_100_rows)%>
